#registruotis{ 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    width: auto;
    min-height: 350px;
}
#registracija{ 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    width: auto;
    min-height: 350px;
}

#addDay{ 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width: 300px;
    min-height: 250px;
}

#report{ 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-height: 100%;
	min-width: 650px;
}

#addAircraftDialog{ 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-height: 100%;
	min-width: 650px;
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

.add, .show_day, .add_day {
	background-color:#f9f9f9;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:13px;
	height:16px;
	line-height:14px;
	width:16px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.add:hover, .show_day:hover, .add_day:hover {
	background-color:#e9e9e9;
}
.add:active, .show_day:active, .add_day:active {
	position:relative;
	top:1px;
}
