#registruotis{
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    width: auto;
    min-height: 350px;
}
#registracija{
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    width: auto;
    min-height: 350px;
}

#addDay{
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    min-width: 300px;
    min-height: 250px;
}

#report{
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    min-height: 100%;
	min-width: 650px;
}

#addAircraftDialog{
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none;
    padding:20px;
    min-height: 100%;
	min-width: 650px;
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

.add, .show_day, .add_day {
  padding: 0 0 0 2px;
  color:#666666;
  /*font-size:13px;*/
}
.add:hover, .show_day:hover, .add_day:hover {
}
.add:active, .show_day:active, .add_day:active {
	position:relative;
	top:1px;
}
