.messages {}
.messages > div {padding:5px;color:green;}
.errors {}
.errors > div {color:red;padding:5px;border: 1px solid red;}

form label { width: 40%; } 

@media (max-width: 480px) {
    table.calendar,
    table.calendar tbody,
    table.calendar tr,
    table.calendar tr td {
	display: block;
	width: 100%;
	height: auto;
    }
    table.calendar thead,
    table.calendar tfoot,
    table.calendar tr.topdays,
    table.calendar tr td.beforedayboxes,
    table.calendar tr td.afterdayboxes {
	display: none;
    }

   #registracija,
   #report,
   #registruotis{
       max-width: 100% !important;
       min-width: 0 !important;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       min-height: 0 !important;
       overflow-y: auto;
       height: auto !important;
   }
   #report table,
   #registruotis .b-ajax-wrapper,
   #registruotis .b-ajax-wrapper form.calendar {
       width: 100% !important;
   }
}
